html { 
	font-size: 62.5%; 
}
body {
	margin: 0;
	padding: 0;
	background: #FFEE32;
	color: #03071E;
}
* {
	box-sizing: border-box;
}

.c-section {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 30px;
	text-align: center;
}
.c-section_block {}
.c-section_lead {
	font-size: 1.8rem;
	line-height: 2;
}
.c-heading {
	display: block;
	font-size: 4.0rem;
	line-height: 1.6;
}
.c-heading2 {
	display: block;
	font-size: 3.2rem;
	line-height: 1.6;
}
.c-form {}
.c-form_input {
	height: 30px;
	padding: 0 10px;
	font-size: 1.6rem;
	line-height: 1;
	border: none;
	border-radius: 3px;
}
.c-form_button {
	padding: 5px 10px;
	background: #3D0066;
	color: #fff;
	font-size: 1.6rem;
	border: none;
	border-radius: 3px;
}
